{% extends 'comments.html' %}

{% block content %}
<div class="container">
    <form method="post">
        {%csrf_token%}
        <label>Which serial are you commenting?</label>
        <input id="title" name="title" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        <label>Your comment</label>
        <textarea id="title" name="text" type="textarea" rows="3" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"></textarea>
        <button class="btn btn-primary" type="submit">Post comment</button>
    </form>
</div>
{% endblock %}
